<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>

<body>
  {{#each flash }}
  <p class="{{this.type}}">{{ this.message }}</p>
  {{/each}}
  {{{body}}}
</body>

</html>