<h1 class = 'header'>Articles</h1>
<div class = 'nav'>
    <a class = 'navlink' href="/articles/new">Add New Article</a>
</div>
{{#each articles}}
    <div class = "anArticle">
        <h3 class = 'title'>{{this.title}}</h3>
        <hr>
        <p><a class = 'link' href="{{this.url}}" target="_blank">Take Me to the Article!!</a></p>
        {{#if this.description}}
        <p class = 'description'>Description: {{this.description}}</p>
        {{/if}}
    </div>
{{/each}}
<div class = 'nav'>
    <a class = 'navlink' href="/articles/page/{{page}}">Next 10 Articles</a>
</div>